In [1]:
import pandas as pd
import datetime as dt

## Review of Python's `datetime` Module

In [3]:
someday = dt.date(2010, 1, 20)

In [4]:
someday.year
someday.month
someday.day

20

In [6]:
str(someday)

'2010-01-20'

In [7]:
str(dt.datetime(2010, 1, 10, 17, 13))

'2010-01-10 17:13:00'

In [9]:
sometime = dt.datetime(2010, 1, 10, 17, 13, 57)

In [10]:
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second

57

## The `pandas Timestamp` Object

In [11]:
pd.Timestamp("2015-03-31")
pd.Timestamp("2015/03/31")
pd.Timestamp("2013, 11, 04")
pd.Timestamp("1/1/2015")
pd.Timestamp("19/12/2015")
pd.Timestamp("12/19/2015")
pd.Timestamp("4/3/2000")
pd.Timestamp("2021-03-08 08:35:15")
pd.Timestamp("2021-03-08 6:13:29 PM")

Timestamp('2021-03-08 18:13:29')

In [9]:
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [10]:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))

Timestamp('2000-02-03 21:35:22')

## The `pandas DateTimeIndex` Object

In [2]:
dates = ["2016/01/02", "2016/04/12", "2009/09/07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [3]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates)
dtIndex

DatetimeIndex(['2016-01-10', '1994-06-13', '2003-12-29'], dtype='datetime64[ns]', freq=None)

In [5]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

## The `pd.to_datetime()` Method

In [12]:
pd.to_datetime("2001-04-19")
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))
pd.to_datetime(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [13]:
times = pd.Series(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [16]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [6]:
dates = pd.Series(["July 4th, 1996", "10/04/1991", "2015-03-05", "Hello", "20/06/2011"])
dates

0    July 4th, 1996
1        10/04/1991
2        2015-03-05
3             Hello
4        20/06/2011
dtype: object

In [11]:
pd.to_datetime(dates, errors = "coerce")

0   1996-07-04
1   1991-10-04
2   2015-03-05
3          NaT
4   2011-06-20
dtype: datetime64[ns]

In [16]:
pd.to_datetime([13, 1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit = "s")

DatetimeIndex(['1970-01-01 00:00:13', '2012-10-08 18:15:05',
               '2012-10-09 18:15:05', '2012-10-10 18:15:05',
               '2012-10-11 18:15:05', '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

In [5]:
pd.Period("2016-01-08", freq = "10D")

Period('2016-01-08', '10D')

In [21]:
dates = ["2016-01-01", "2016-02-01", "2016-03-01"]
pd.Series([1, 2, 3], index = pd.PeriodIndex(dates, freq = "2M"))

2016-01    1
2016-02    2
2016-03    3
Freq: 2M, dtype: int64

In [17]:
#pd.Period("2016-01-08", freq = "W")
#pd.Period("2016-01-08", freq = "W-SUN")
#pd.Period("2016-01-08", freq = "W-WED")
#pd.Period("2015-12-10", freq = "10D")

dates = ["2015-12-29", "2016-02-01", "2016-02-01"]
weeks = pd.PeriodIndex(dates, freq = "W-MON")
pd.Series([999, 500, 325], index = weeks, name = "Weekly Revenue")

2015-12-29/2016-01-04    999
2016-01-26/2016-02-01    500
2016-01-26/2016-02-01    325
Freq: W-MON, Name: Weekly Revenue, dtype: int64

## Create Range of Dates with the `pd.date_range()` Method, Part 1

In [15]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "2D")

In [17]:
type(times)
times

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [34]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [18]:
pd.date_range(start = "2016-01-01", end = "2050-01-01", freq = "AS")

DatetimeIndex(['2016-01-01', '2017-01-01', '2018-01-01', '2019-01-01',
               '2020-01-01', '2021-01-01', '2022-01-01', '2023-01-01',
               '2024-01-01', '2025-01-01', '2026-01-01', '2027-01-01',
               '2028-01-01', '2029-01-01', '2030-01-01', '2031-01-01',
               '2032-01-01', '2033-01-01', '2034-01-01', '2035-01-01',
               '2036-01-01', '2037-01-01', '2038-01-01', '2039-01-01',
               '2040-01-01', '2041-01-01', '2042-01-01', '2043-01-01',
               '2044-01-01', '2045-01-01', '2046-01-01', '2047-01-01',
               '2048-01-01', '2049-01-01', '2050-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

In [14]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "6H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00',
               '2012-09-16 12:00:00', '2012-09-16 18:00:00',
               '2012-09-17 00:00:00', '2012-09-17 06:00:00',
               '2012-09-17 12:00:00', '2012-09-17 18:00:00',
               '2012-09-18 00:00:00', '2012-09-18 06:00:00',
               '2012-09-18 12:00:00', '2012-09-18 18:00:00',
               '2012-09-19 00:00:00', '2012-09-19 06:00:00',
               '2012-09-19 12:00:00', '2012-09-19 18:00:00',
               '2012-09-20 00:00:00', '2012-09-20 06:00:00',
               '2012-09-20 12:00:00', '2012-09-20 18:00:00',
               '2012-09-21 00:00:00', '2012-09-21 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

## Create Range of Dates with the `pd.date_range()` Method, Part 3

In [31]:
pd.date_range(end = "1999-12-31", periods = 100, freq = "7H")

DatetimeIndex(['1999-12-02 03:00:00', '1999-12-02 10:00:00',
               '1999-12-02 17:00:00', '1999-12-03 00:00:00',
               '1999-12-03 07:00:00', '1999-12-03 14:00:00',
               '1999-12-03 21:00:00', '1999-12-04 04:00:00',
               '1999-12-04 11:00:00', '1999-12-04 18:00:00',
               '1999-12-05 01:00:00', '1999-12-05 08:00:00',
               '1999-12-05 15:00:00', '1999-12-05 22:00:00',
               '1999-12-06 05:00:00', '1999-12-06 12:00:00',
               '1999-12-06 19:00:00', '1999-12-07 02:00:00',
               '1999-12-07 09:00:00', '1999-12-07 16:00:00',
               '1999-12-07 23:00:00', '1999-12-08 06:00:00',
               '1999-12-08 13:00:00', '1999-12-08 20:00:00',
               '1999-12-09 03:00:00', '1999-12-09 10:00:00',
               '1999-12-09 17:00:00', '1999-12-10 00:00:00',
               '1999-12-10 07:00:00', '1999-12-10 14:00:00',
               '1999-12-10 21:00:00', '1999-12-11 04:00:00',
               '1999-12-11 11:00:00', '1999-12-11 18:00:00',
               '1999-12-12 01:00:00', '1999-12-12 08:00:00',
               '1999-12-12 15:00:00', '1999-12-12 22:00:00',
               '1999-12-13 05:00:00', '1999-12-13 12:00:00',
               '1999-12-13 19:00:00', '1999-12-14 02:00:00',
               '1999-12-14 09:00:00', '1999-12-14 16:00:00',
               '1999-12-14 23:00:00', '1999-12-15 06:00:00',
               '1999-12-15 13:00:00', '1999-12-15 20:00:00',
               '1999-12-16 03:00:00', '1999-12-16 10:00:00',
               '1999-12-16 17:00:00', '1999-12-17 00:00:00',
               '1999-12-17 07:00:00', '1999-12-17 14:00:00',
               '1999-12-17 21:00:00', '1999-12-18 04:00:00',
               '1999-12-18 11:00:00', '1999-12-18 18:00:00',
               '1999-12-19 01:00:00', '1999-12-19 08:00:00',
               '1999-12-19 15:00:00', '1999-12-19 22:00:00',
               '1999-12-20 05:00:00', '1999-12-20 12:00:00',
               '1999-12-20 19:00:00', '1999-12-21 02:00:00',
               '1999-12-21 09:00:00', '1999-12-21 16:00:00',
               '1999-12-21 23:00:00', '1999-12-22 06:00:00',
               '1999-12-22 13:00:00', '1999-12-22 20:00:00',
               '1999-12-23 03:00:00', '1999-12-23 10:00:00',
               '1999-12-23 17:00:00', '1999-12-24 00:00:00',
               '1999-12-24 07:00:00', '1999-12-24 14:00:00',
               '1999-12-24 21:00:00', '1999-12-25 04:00:00',
               '1999-12-25 11:00:00', '1999-12-25 18:00:00',
               '1999-12-26 01:00:00', '1999-12-26 08:00:00',
               '1999-12-26 15:00:00', '1999-12-26 22:00:00',
               '1999-12-27 05:00:00', '1999-12-27 12:00:00',
               '1999-12-27 19:00:00', '1999-12-28 02:00:00',
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

## The `.dt` Accessor

In [19]:
bunch_of_dates = pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")

In [20]:
bunch_of_dates

DatetimeIndex(['2000-01-01', '2000-01-25', '2000-02-18', '2000-03-13',
               '2000-04-06', '2000-04-30', '2000-05-24', '2000-06-17',
               '2000-07-11', '2000-08-04',
               ...
               '2010-05-20', '2010-06-13', '2010-07-07', '2010-07-31',
               '2010-08-24', '2010-09-17', '2010-10-11', '2010-11-04',
               '2010-11-28', '2010-12-22'],
              dtype='datetime64[ns]', length=168, freq='24D')

In [21]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [23]:
mask = s.dt.is_month_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]

## Import Financial Data Set with `pandas_datareader` Library

In [25]:
import pandas as pd
import datetime as dt
#pip install pandas_datareader
from pandas_datareader import data

In [26]:
company = "MSFT"
start = "2010-01-01"
stocks = data.DataReader(name = company, data_source = "yahoo", start = start)
stocks.tail(3)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-02-19,188.179993,186.470001,188.059998,187.279999,29997500.0,187.279999
2020-02-20,187.250000,181.100006,186.949997,184.419998,36862400.0,184.419998
2020-02-21,183.500000,177.250000,183.169998,178.589996,48572600.0,178.589996

In [47]:
stocks.values
stocks.columns
stocks.index[0]
stocks.axes

[DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
                '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
                '2010-01-13', '2010-01-14',
                ...
                '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
                '2020-01-17', '2020-01-21', '2020-01-22', '2020-01-23',
                '2020-01-24', '2020-01-27'],
               dtype='datetime64[ns]', name='Date', length=2534, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

## Selecting from a `DataFrame` with a `DateTimeIndex`

In [48]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.990791
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.360727
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.368599

In [49]:
stocks.loc["2014-03-04"]
stocks.iloc[300]
stocks.loc["2009-12-31"]
stocks.iloc[2]

High         3.110000e+01
Low          3.064000e+01
Open         3.085000e+01
Close        3.096000e+01
Volume       4.974960e+07
Adj Close    2.436860e+01
Name: 2010-01-05 00:00:00, dtype: float64

In [10]:
stocks.loc["2013-10-01" : "2013-10-07"]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2013-10-01,321.000000,313.649994,314.220001,320.950012,2396400,320.950012
2013-10-02,321.730011,317.519989,318.040009,320.510010,2217400,320.510010
2013-10-03,322.920013,313.019989,320.390015,314.760010,2674800,314.760010
2013-10-04,319.200012,312.619995,315.130005,319.040009,1815000,319.040009
2013-10-07,315.339996,309.739990,315.239990,310.029999,2083200,310.029999

In [50]:
birthdays = pd.date_range(start = "1991-04-12", end = "2017-12-31", freq = pd.DateOffset(years = 1))
birthdays

DatetimeIndex(['1991-04-12', '1992-04-12', '1993-04-12', '1994-04-12',
               '1995-04-12', '1996-04-12', '1997-04-12', '1998-04-12',
               '1999-04-12', '2000-04-12', '2001-04-12', '2002-04-12',
               '2003-04-12', '2004-04-12', '2005-04-12', '2006-04-12',
               '2007-04-12', '2008-04-12', '2009-04-12', '2010-04-12',
               '2011-04-12', '2012-04-12', '2013-04-12', '2014-04-12',
               '2015-04-12', '2016-04-12', '2017-04-12'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [51]:
mask = stocks.index.isin(birthdays)

In [52]:
stocks[mask]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-04-12  30.490000  30.209999  30.250000  30.320000  37068800.0  23.976448
2011-04-12  25.850000  25.549999  25.830000  25.639999  36920400.0  20.723314
2012-04-12  31.040001  30.420000  30.480000  30.980000  38304000.0  25.721735
2013-04-12  29.020000  28.660000  28.850000  28.790001  62886300.0  24.620874
2016-04-12  54.779999  53.759998  54.369999  54.650002  24944300.0  50.760017
2017-04-12  65.510002  65.110001  65.419998  65.230003  17108500.0  62.180389

## `Timestamp` Object Attributes

In [22]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head(3)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2009-12-31,137.279999,134.520004,137.089996,134.520004,4523000,134.520004
2010-01-04,136.610001,133.139999,136.250000,133.899994,7599900,133.899994
2010-01-05,135.479996,131.809998,133.429993,134.690002,8851900,134.690002

In [23]:
someday = stocks.index[500]
someday

Timestamp('2011-12-23 00:00:00')

In [25]:
someday.day
someday.month
someday.year
#someday.weekday_name
someday.is_month_end
someday.is_month_start

False

In [26]:
stocks.insert(0, "Day of Week", stocks.index.weekday_name)

In [27]:
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)

In [29]:
stocks

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2009-12-31,Thursday,False,30.990000,30.480000,30.980000,30.480000,31929700.0,23.990791
2010-01-04,Monday,False,31.100000,30.590000,30.620001,30.950001,38409100.0,24.360727
2010-01-05,Tuesday,False,31.100000,30.639999,30.850000,30.959999,49749600.0,24.368599
2010-01-06,Wednesday,False,31.080000,30.520000,30.879999,30.770000,58182400.0,24.219046
2010-01-07,Thursday,False,30.700001,30.190001,30.629999,30.450001,50559700.0,23.967175
2010-01-08,Friday,False,30.879999,30.240000,30.280001,30.660000,51197400.0,24.132469
2010-01-11,Monday,False,30.760000,30.120001,30.709999,30.270000,68754700.0,23.825497
2010-01-12,Tuesday,False,30.400000,29.910000,30.150000,30.070000,65912100.0,23.668074
2010-01-13,Wednesday,False,30.520000,30.010000,30.260000,30.350000,51863500.0,23.888464
2010-01-14,Thursday,False,31.100000,30.260000,30.309999,30.959999,63228100.0,24.368599
2010-01-15,Friday,False,31.240000,30.709999,31.080000,30.860001,79913200.0,24.289886
2010-01-19,Tuesday,False,31.240000,30.680000,30.750000,31.100000,46575700.0,24.478792
2010-01-20,Wednesday,False,30.940001,30.309999,30.809999,30.590000,54849500.0,24.077366
2010-01-21,Thursday,False,30.719999,30.000000,30.610001,30.010000,73086700.0,23.620857
2010-01-22,Friday,False,30.200001,28.840000,30.000000,28.959999,102004600.0,22.794395
2010-01-25,Monday,False,29.660000,29.100000,29.240000,29.320000,63373000.0,23.077757
2010-01-26,Tuesday,False,29.850000,29.090000,29.200001,29.500000,66639900.0,23.219431
2010-01-27,Wednesday,False,29.820000,29.020000,29.350000,29.670000,63949500.0,23.353241
2010-01-28,Thursday,False,29.870001,28.889999,29.840000,29.160000,117513700.0,22.951815
2010-01-29,Friday,False,29.920000,27.660000,29.900000,28.180000,193888500.0,22.180464
2010-02-01,Monday,True,28.480000,27.920000,28.389999,28.410000,85931100.0,22.361494
2010-02-02,Tuesday,False,28.500000,28.139999,28.370001,28.459999,54413700.0,22.400845
2010-02-03,Wednesday,False,28.790001,28.120001,28.260000,28.629999,61397900.0,22.534660
2010-02-04,Thursday,False,28.500000,27.809999,28.379999,27.840000,77850000.0,21.912851
2010-02-05,Friday,False,28.280001,27.570000,28.000000,28.020000,80960100.0,22.054527
2010-02-08,Monday,False,28.080000,27.570000,28.010000,27.719999,52820600.0,21.818392
2010-02-09,Tuesday,False,28.340000,27.750000,27.969999,28.010000,59195800.0,22.046650
2010-02-10,Wednesday,False,28.240000,27.840000,28.030001,27.990000,48591300.0,22.030914
2010-02-11,Thursday,False,28.400000,27.700001,27.930000,28.120001,65993700.0,22.133238
2010-02-12,Friday,False,28.059999,27.580000,27.809999,27.930000,81117200.0,21.983685
...,...,...,...,...,...,...,...,...
2019-10-15,Tuesday,False,141.789993,139.809998,140.059998,141.570007,19695700.0,141.089920
2019-10-16,Wednesday,False,140.990005,139.529999,140.789993,140.410004,20751600.0,139.933838
2019-10-17,Thursday,False,141.419998,139.020004,140.949997,139.690002,21460600.0,139.216278
2019-10-18,Friday,False,140.000000,136.559998,139.759995,137.410004,32273500.0,136.944016
2019-10-21,Monday,False,138.500000,137.009995,138.449997,138.429993,20078200.0,137.960541
2019-10-22,Tuesday,False,140.009995,136.259995,138.970001,136.369995,27431000.0,135.907532
2019-10-23,Wednesday,False,137.449997,135.610001,136.880005,137.240005,29844600.0,136.774597
2019-10-24,Thursday,False,140.419998,138.669998,139.389999,139.940002,37029300.0,139.465439
2019-10-25,Friday,False,141.139999,139.199997,139.339996,140.729996,25959700.0,140.252747
2019-10-28,Monday,False,145.669998,143.509995,144.399994,144.190002,35280100.0,143.701019
2019-10-29,Tuesday,False,144.500000,142.649994,144.080002,142.830002,20589500.0,142.345642
2019-10-30,Wednesday,False,145.000000,142.789993,143.520004,144.610001,18496600.0,144.119598
2019-10-31,Thursday,False,144.929993,142.990005,144.899994,143.369995,24605100.0,142.883804
2019-11-01,Friday,True,144.419998,142.970001,144.259995,143.720001,33128400.0,143.232620
2019-11-04,Monday,False,145.000000,144.160004,144.830002,144.550003,16912000.0,144.059799
2019-11-05,Tuesday,False,145.020004,143.910004,144.970001,144.460007,18250200.0,143.970108
2019-11-06,Wednesday,False,144.520004,143.199997,144.369995,144.059998,16575800.0,143.571457
2019-11-07,Thursday,False,144.880005,143.770004,143.839996,144.259995,17786700.0,143.770782
2019-11-08,Friday,False,145.990005,143.759995,143.979996,145.960007,16732700.0,145.465027
2019-11-11,Monday,False,146.419998,144.729996,145.339996,146.110001,14362600.0,145.614517
2019-11-12,Tuesday,False,147.570007,146.059998,146.279999,147.070007,18641600.0,146.571259
2019-11-13,Wednesday,False,147.460007,146.279999,146.740005,147.309998,16919200.0,146.810440
2019-11-14,Thursday,False,148.410004,147.000000,147.020004,148.059998,19729800.0,147.557892
2019-11-15,Friday,False,149.990005,148.270004,148.929993,149.970001,23485700.0,149.461426
2019-11-18,Monday,False,150.550003,148.979996,150.070007,150.339996,21534000.0,149.830170
2019-11-19,Tuesday,False,151.330002,150.199997,150.880005,150.389999,23935700.0,149.879990
2019-11-20,Wednesday,False,150.839996,148.460007,150.309998,149.619995,25696800.0,149.619995
2019-11-21,Thursday,False,149.800003,148.500000,149.399994,149.479996,18576100.0,149.479996
2019-11-22,Friday,False,150.300003,148.820007,150.070007,149.589996,15901800.0,149.589996
2019-11-25,Monday,False,151.350006,149.919998,150.000000,151.229996,22420900.0,151.229996

## The `.truncate()` Method

In [56]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = dt.datetime.now())
stocks.tail(3)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-23,166.800003,165.270004,166.190002,166.720001,19680800.0,166.720001
2020-01-24,167.529999,164.449997,167.509995,165.039993,24918100.0,165.039993
2020-01-27,163.380005,160.199997,161.149994,162.279999,32046900.0,162.279999

In [55]:
stocks.truncate(before = "2012-06-07", after = "2013-02-28")

                 High        Low       Open      Close       Volume  Adj Close
Date
2012-06-07  29.700001  29.170000  29.639999  29.230000   37792800.0  24.428007
2012-06-08  29.680000  29.049999  29.209999  29.650000   42551100.0  24.779005
2012-06-11  29.809999  28.820000  29.730000  28.900000   46361900.0  24.152220
2012-06-12  29.299999  28.840000  29.100000  29.290001   35337900.0  24.478146
2012-06-13  29.440001  29.049999  29.219999  29.129999   32984600.0  24.344433
2012-06-14  29.459999  28.879999  29.330000  29.340000   39458900.0  24.519939
2012-06-15  30.080000  29.490000  29.590000  30.020000   62314400.0  25.088223
2012-06-18  30.030001  29.709999  29.990000  29.840000   58679900.0  24.937798
2012-06-19  31.110001  30.049999  30.190001  30.700001   75725800.0  25.656513
2012-06-20  31.049999  30.639999  30.930000  30.930000   36257100.0  25.848724
2012-06-21  31.139999  30.059999  30.959999  30.139999   48456600.0  25.188513
2012-06-22  30.730000  30.030001  30.299999  30.700001   45098100.0  25.656513
2012-06-25  30.320000  29.620001  30.299999  29.870001   42217200.0  24.962868
2012-06-26  30.270000  29.940001  30.000000  30.020000   38421300.0  25.088223
2012-06-27  30.500000  30.030001  30.190001  30.170000   33781700.0  25.213581
2012-06-28  30.049999  29.420000  29.980000  29.910000   45328400.0  24.996296
2012-06-29  30.690001  30.139999  30.450001  30.590000   55227200.0  25.564577
2012-07-02  30.620001  30.209999  30.620001  30.559999   30589100.0  25.539513
2012-07-03  30.760000  30.170000  30.230000  30.760000   20938100.0  25.706657
2012-07-05  30.780001  30.379999  30.590000  30.700001   28801900.0  25.656513
2012-07-06  30.700001  29.950001  30.610001  30.190001   38294800.0  25.230295
2012-07-09  30.230000  29.780001  30.120001  30.000000   30680800.0  25.071507
2012-07-10  30.219999  29.510000  30.080000  29.740000   37534100.0  24.854221
2012-07-11  29.740000  29.110001  29.709999  29.299999   39184900.0  24.486507
2012-07-12  29.180000  28.540001  29.150000  28.629999   63523600.0  23.926579
2012-07-13  29.480000  28.719999  28.760000  29.389999   39085000.0  24.561728
2012-07-16  29.530001  29.040001  29.480000  29.440001   27900600.0  24.603508
2012-07-17  29.860001  29.200001  29.639999  29.660000   33771300.0  24.787371
2012-07-18  30.450001  29.459999  29.600000  30.450001   41090400.0  25.447578
2012-07-19  30.799999  30.379999  30.510000  30.670000   46663200.0  25.631439
...               ...        ...        ...        ...          ...        ...
2013-01-16  27.230000  27.010000  27.150000  27.040001   41077400.0  22.934414
2013-01-17  27.469999  27.059999  27.190001  27.250000   51685900.0  23.112528
2013-01-18  27.290001  27.040001  27.100000  27.250000   52167700.0  23.112528
2013-01-22  27.450001  27.000000  27.299999  27.150000   58650600.0  23.027710
2013-01-23  27.639999  27.200001  27.200001  27.610001   50387700.0  23.417864
2013-01-24  28.070000  27.469999  27.700001  27.629999  101739300.0  23.434830
2013-01-25  28.230000  27.389999  27.580000  27.879999   81847700.0  23.646870
2013-01-28  28.230000  27.760000  28.010000  27.910000   56056500.0  23.672318
2013-01-29  28.129999  27.600000  27.820000  28.010000   49242600.0  23.757130
2013-01-30  28.190001  27.760000  28.010000  27.850000   43580500.0  23.621424
2013-01-31  27.969999  27.400000  27.790001  27.450001   50530000.0  23.282162
2013-02-01  28.049999  27.549999  27.670000  27.930000   55565900.0  23.689287
2013-02-04  28.020000  27.420000  27.870001  27.440001   50540000.0  23.273678
2013-02-05  27.660000  27.360001  27.620001  27.500000   35410400.0  23.324570
2013-02-06  27.540001  27.250000  27.379999  27.340000   41889600.0  23.188860
2013-02-07  27.389999  27.100000  27.350000  27.280001   38028300.0  23.137970
2013-02-08  27.709999  27.309999  27.350000  27.549999   33318500.0  23.366976
2013-02-11  27.920000  27.500000  27.650000  27.860001   32247700.0  23.629908
2013-02-12  28.000000  27.750000  27.879999  27.879999   35990900.0  23.646870
2013-02-13  28.110001  27.879999  27.930000  28.030001   41715600.0  23.774094
2013-02-14  28.059999  27.870001  27.920000  28.040001   32663200.0  23.782583
2013-02-15  28.160000  27.879999  28.040001  28.010000   49650900.0  23.757130
2013-02-19  28.090000  27.799999  27.879999  28.049999   38781400.0  23.988035
2013-02-20  28.200001  27.830000  28.129999  27.870001   44110200.0  23.834103
2013-02-21  27.740000  27.230000  27.740000  27.490000   49078500.0  23.509130
2013-02-22  27.760000  27.480000  27.680000  27.760000   31425900.0  23.740028
2013-02-25  28.049999  27.370001  27.969999  27.370001   48011800.0  23.406507
2013-02-26  27.600000  27.340000  27.379999  27.370001   49923300.0  23.406507
2013-02-27  28.000000  27.330000  27.420000  27.809999   36394700.0  23.782784
2013-02-28  27.969999  27.740000  27.879999  27.799999   35840200.0  23.774239

[182 rows x 6 columns]

## `pd.DateOffset` Objects

In [60]:
stocks = data.DataReader(name = "FB", data_source = "yahoo",
                start = dt.date(2000, 1, 1), end = dt.datetime.now())
stocks.tail(3)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-23,221.490005,219.270004,220.750000,219.759995,11195000,219.759995
2020-01-24,221.779999,216.110001,220.800003,217.940002,11905800,217.940002
2020-01-27,216.059998,212.500000,213.100006,214.869995,13791100,214.869995

In [61]:
stocks.index

DatetimeIndex(['2012-05-18', '2012-05-21', '2012-05-22', '2012-05-23',
               '2012-05-24', '2012-05-25', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01',
               ...
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-21', '2020-01-22', '2020-01-23',
               '2020-01-24', '2020-01-27'],
              dtype='datetime64[ns]', name='Date', length=1934, freq=None)

In [62]:
stocks.index + pd.DateOffset(months = 8, years = 5, days = 12, hours = 3, minutes = 42)

DatetimeIndex(['2018-01-30 03:42:00', '2018-02-02 03:42:00',
               '2018-02-03 03:42:00', '2018-02-04 03:42:00',
               '2018-02-05 03:42:00', '2018-02-06 03:42:00',
               '2018-02-10 03:42:00', '2018-02-11 03:42:00',
               '2018-02-12 03:42:00', '2018-02-13 03:42:00',
               ...
               '2025-09-25 03:42:00', '2025-09-26 03:42:00',
               '2025-09-27 03:42:00', '2025-09-28 03:42:00',
               '2025-09-29 03:42:00', '2025-10-03 03:42:00',
               '2025-10-04 03:42:00', '2025-10-05 03:42:00',
               '2025-10-06 03:42:00', '2025-10-09 03:42:00'],
              dtype='datetime64[ns]', name='Date', length=1934, freq=None)

## More Fun with `pd.DateOffset` Objects

In [64]:
import pandas as pd
import datetime as dt
from pandas_datareader import data
from pandas.tseries.offsets import *

In [63]:
stocks = data.DataReader(name = "AMZN", data_source = "yahoo",
                start = dt.date(2000, 1, 1), end = dt.datetime.now())

stocks.head(3)

               High        Low     Open    Close    Volume  Adj Close
Date
1999-12-31  79.3750  76.000000  79.3125  76.1250   7270700    76.1250
2000-01-03  89.5625  79.046875  81.5000  89.3750  16117600    89.3750
2000-01-04  91.5000  81.750000  85.3750  81.9375  17487400    81.9375

In [74]:
stocks.index - MonthEnd()
stocks.index - BMonthEnd()
stocks.index - QuarterEnd()
stocks.index + QuarterBegin()

DatetimeIndex(['2000-03-01', '2000-03-01', '2000-03-01', '2000-03-01',
               '2000-03-01', '2000-03-01', '2000-03-01', '2000-03-01',
               '2000-03-01', '2000-03-01',
               ...
               '2020-03-01', '2020-03-01', '2020-03-01', '2020-03-01',
               '2020-03-01', '2020-03-01', '2020-03-01', '2020-03-01',
               '2020-03-01', '2020-03-01'],
              dtype='datetime64[ns]', name='Date', length=5049, freq=None)

In [75]:
stocks.index + YearBegin()

DatetimeIndex(['2000-01-01', '2001-01-01', '2001-01-01', '2001-01-01',
               '2001-01-01', '2001-01-01', '2001-01-01', '2001-01-01',
               '2001-01-01', '2001-01-01',
               ...
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01'],
              dtype='datetime64[ns]', name='Date', length=5049, freq=None)

## The `Timedelta` Object

In [215]:
timeA = pd.Timestamp("2016-03-31 04:35:16 PM")
timeB = pd.Timestamp("2016-03-20 02:16:49 AM")

In [219]:
timeB - timeA

Timedelta('-12 days +09:41:33')

In [217]:
type(timeA - timeB)

pandas.tslib.Timedelta

In [218]:
type(timeA)

pandas.tslib.Timestamp

In [227]:
pd.Timedelta(weeks = 8, days = 3, hours = 12, minutes = 45)

Timedelta('59 days 12:45:00')

In [226]:
pd.Timedelta("14 days 6 hours 12 minutes 49 seconds")

Timedelta('14 days 06:12:49')

## `Timedeltas` in a Dataset

In [27]:
shipping = pd.read_csv("ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [42]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]

In [44]:
shipping.head(9)

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days
8  1993-06-10    1993-11-11      154 days
9  1990-01-25    1994-10-02     1711 days
10 1992-02-23    1998-12-30     2502 days
11 1996-07-12    1997-07-14      367 days

In [249]:
shipping["Twice As Long"] = shipping["delivery_date"] + shipping["Delivery Time"]

In [250]:
shipping.head(3)

   order_date delivery_date  Delivery Time Twice As Long
ID
1  1998-05-24    1999-02-05       257 days    1999-10-20
2  1992-04-22    1998-03-06      2144 days    2004-01-18
4  1991-02-10    1992-08-26       563 days    1994-03-12

In [251]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Twice As Long     datetime64[ns]
dtype: object

In [53]:
mask = shipping["Delivery Time"] == "500 days"
shipping[mask]

Empty DataFrame
Columns: [order_date, delivery_date, Delivery Time]
Index: []

In [260]:
shipping["Delivery Time"].min()

Timedelta('8 days 00:00:00')

In [46]:
shipping["Delivery Time"].max()

Timedelta('3583 days 00:00:00')