In [4]:
name = "Krishna lamgali tmang Rijal".split(" ")[0]
surname = 'krishna is a good rijal'.split(" ")[-1]
name +' ' + surname

'Krishna rijal'

In [6]:
name = {
    'krishna rijal' : 'krishnarijal@gmail.com',
    'nikita rijal' : 'nikitarijal@gmail.com',
    'sumitra shrestha' : 'sumitrashrestha@gmail.com',
    'prabal rai' : 'prabalrai@gmail.com',
    'arjun shrestha' : 'arjunshrestha@gmail.com',
    'anusha wagle' : 'anushawagle@gmail.com'
}

In [7]:
for i in name:
    print(name[i])

krishnarijal@gmail.com
nikitarijal@gmail.com
sumitrashrestha@gmail.com
prabalrai@gmail.com
arjunshrestha@gmail.com
anushawagle@gmail.com

In [9]:
for email in name.values():
    print(email)

krishnarijal@gmail.com
nikitarijal@gmail.com
sumitrashrestha@gmail.com
prabalrai@gmail.com
arjunshrestha@gmail.com
anushawagle@gmail.com

In [10]:
for names, email in name.items():
    print(names)
    print(email)

krishna rijal
krishnarijal@gmail.com
nikita rijal
nikitarijal@gmail.com
sumitra shrestha
sumitrashrestha@gmail.com
prabal rai
prabalrai@gmail.com
arjun shrestha
arjunshrestha@gmail.com
anusha wagle
anushawagle@gmail.com

In [11]:
x= ('krishna', 'rijal', 'krishnarijak@email.com')
fname, lname, email = x

In [12]:
fname

'krishna'

In [13]:
lname

'rijal'

In [14]:
email

'krishnarijak@email.com'

# More on python string

In [15]:
sales_record = {
    'price' : 44.5,
    'items' : 5,
    'name' : 'cristopher'
}

statement = '{} bought {} items at a price of {} each for a total of {}'

print(statement.format(sales_record['name'],
                       sales_record['items'],
                       sales_record['price'],
                       sales_record['items']*sales_record['price']))

cristopher bought 5 items at a price of 44.5 each for a total of 222.5