# Variables and data types

In [1]:
my_favourite_color = 'blue'

In [2]:
my_favourite_color

'blue'

In [3]:
color1, color2, color3 = "red" , "green" , "blue"

In [4]:
color1

'red'

In [5]:
color2

'green'

In [6]:
color3

'blue'

In [10]:
a_variable = 23
is_today_Saturday = False
my_favourite_car = "Audi R8"
the_3_musketeers =["Athos" , "Porthes", "Aramis"]

In [11]:
type(a_variable)

int

In [12]:
type(is_today_Saturday)

bool

In [13]:
type(my_favourite_car)

str

In [14]:
type(the_3_musketeers)

list

In [15]:
one_hundred = 1e4

In [16]:
one_hundred

10000.0

In [17]:
cost_of_ice_bag = 1.35
is_cost_of_ice_bag = cost_of_ice_bag >= 10

In [18]:
is_cost_of_ice_bag

False

In [19]:
3.0 +True

4.0

In [20]:
5 +False

5

In [21]:
5 - True

4

In [22]:
5-False

5

In [24]:
bool(1)

True

range()

In [25]:
range()

TypeError: range expected 1 argument, got 0

In [26]:
0

0

In [27]:
bool(0)

False

In [28]:
bool(range())

TypeError: range expected 1 argument, got 0

In [29]:
bool(range(0))

False

In [30]:
bool(tuple())

False

In [31]:
bool(dict[])

SyntaxError: invalid syntax (<ipython-input-31-023291f7d621>, line 1)

In [34]:
bool({})

False

In [33]:
bool("")

False

### None

In [35]:
everything = None

In [36]:
type(everything)

NoneType

### String

In [1]:
today = "Monday"

In [2]:
print(today)

Monday

In [3]:
type(today)

str

In [49]:
import jovian
jovian.commit(project="week_2_practice")

[jovian] Attempting to save notebook..
[jovian] Updating notebook "hope143701/week-2-practice" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Capturing environment..

[jovian] Error: Failed to read Anaconda environment using command: "conda env export -n /home/krishna/programming_stuffs/jovian.ml/env --no-builds"

[jovian] Committed successfully! https://jovian.ml/hope143701/week-2-practice

'https://jovian.ml/hope143701/week-2-practice'

In [4]:
my_favourite_movie = "Avrngers: Endgame"

In [5]:
my_favourite_movie

'Avrngers: Endgame'

In [6]:
example_of_multistring= """
This is the example of a multistring
where I can type on the multiple string
just like i'm doing right now"""


adding \ in front of any quote makes the ignores the character and prints as it is as shown in the below exercises

In [10]:
extra_example_of_string  = "qoute : \"What are you doing this weekend\""

In [11]:
extra_example_of_string

'qoute : "What are you doing this weekend"'

### special character

In [16]:
multistring = '''a\nb'''

In [17]:
multistring

'a\nb'

In [18]:
print(multistring)

a
b

In [19]:
len(multistring)

3

In [20]:
today

'Monday'

In [21]:
today[1]

'o'

In [22]:
for val in today:
    print(today[val])

TypeError: string indices must be integers

In [23]:
another_day = today.replace("Mon", "sun")

In [24]:
another_day

'sunday'

In [25]:
today

'Monday'

In [26]:
another_day

'sunday'

In [30]:

"Jan , Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec".split(",")

['Jan ',
 ' Feb',
 ' Mar',
 ' Apr',
 ' May',
 ' Jun',
 ' Jul',
 ' Aug',
 ' Sep',
 ' Oct',
 ' Nov',
 ' Dec']

In [31]:
## lstrip  -> strips spaces from the left side
## rstrip  -> strips spaces on thr right side
## strip   -> strips overall spaces

In [33]:

one = "       this is the example of lstrip".lstrip()
one

'this is the example of lstrip'

In [36]:
two = "this this the example of rsplit       ".rstrip()
two

'this this the example of rsplit'

In [38]:
three = "      theis is the example of strip        ".strip()
three

'theis is the example of strip'

### .format()

In [52]:
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

output_template = """If the grocessary store sells ice bags at $ {} per bag,with a profit margin of $ {}
then the total profit it makes by selling {} ice bags is $ {}"""

print(output_template)

If the grocessary store sells ice bags at $ {} per bag,with a profit margin of $ {}
then the total profit it makes by selling {} ice bags is $ {}

In [53]:
total_profit = cost_of_ice_bag * number_of_bags
output_message = output_template.format(cost_of_ice_bag,profit_margin *100, number_of_bags, total_profit)
print(output_template)

If the grocessary store sells ice bags at $ {} per bag,with a profit margin of $ {}
then the total profit it makes by selling {} ice bags is $ {}

##  methods in python programming

In [54]:
today.capitalize()

'Monday'

In [55]:
today.upper()

'MONDAY'

In [56]:
today.lower()

'monday'

In [59]:
today.encode()

b'Monday'

In [60]:
today.endswith('y')

True

In [61]:
today.endswith('a')

False

In [63]:
today.expandtabs()

'Monday'

In [64]:
today.isalpha()

True

In [65]:
tomorrow = "`1321ffsdf21wsd"

In [66]:
tomorrow.isalnum()

False

## Lists

In [67]:
fruits =['apple', 'orange', 'banana']

In [68]:
fruits[0]

'apple'

In [69]:
type(fruits)

list

In [70]:
a_list = [23, 'hello', None, 3.14, True,fruits , 3<=4]

In [71]:
a_list

[23, 'hello', None, 3.14, True, ['apple', 'orange', 'banana'], True]

In [72]:
fruits

['apple', 'orange', 'banana']

In [73]:
fruits.append("bkackberry")

In [74]:
fruits

['apple', 'orange', 'banana', 'bkackberry']

In [75]:
fruits.insert(1, 'Mango')
fruits

['apple', 'Mango', 'orange', 'banana', 'bkackberry']

In [76]:
fruits.remove("apple")

In [77]:
fruits

['Mango', 'orange', 'banana', 'bkackberry']

In [78]:
fruits.remove("Mango", 'banana')

TypeError: remove() takes exactly one argument (2 given)

In [79]:
fruits.pop(2)

'banana'

In [80]:
fruits

['Mango', 'orange', 'bkackberry']

In [82]:
'orange' in fruits

True

In [84]:
more_fruits = fruits +['grapes', 'apple', 'cherry', 'pineapple'] + ['guava' , 'dragon fruits']

In [85]:
more_fruits

['Mango',
 'orange',
 'bkackberry',
 'grapes',
 'apple',
 'cherry',
 'pineapple',
 'guava',
 'dragon fruits']

In [87]:
more_fruits_copy= more_fruits.copy()

In [90]:
more_fruits_copy

['Mango',
 'orange',
 'bkackberry',
 'grapes',
 'apple',
 'cherry',
 'pineapple',
 'guava',
 'dragon fruits']

In [93]:
more_fruits_copy.remove("guava")
more_fruits_copy.pop()
more_fruits_copy

['Mango', 'orange', 'bkackberry', 'grapes', 'apple', 'cherry', 'pineapple']

In [94]:
more_fruits

['Mango',
 'orange',
 'bkackberry',
 'grapes',
 'apple',
 'cherry',
 'pineapple',
 'guava',
 'dragon fruits']

In [95]:
more_fruits.reverse()

In [96]:
more_fruits

['dragon fruits',
 'guava',
 'pineapple',
 'cherry',
 'apple',
 'grapes',
 'bkackberry',
 'orange',
 'Mango']

In [97]:
fruits

['Mango', 'orange', 'bkackberry']

In [102]:
 more_fruits_copy.extend(fruits)

In [103]:
more_fruits_copy

['Mango',
 'orange',
 'bkackberry',
 'grapes',
 'apple',
 'cherry',
 'pineapple',
 'Mango',
 'orange',
 'bkackberry',
 'Mango',
 'orange',
 'bkackberry',
 'Mango',
 'orange',
 'bkackberry']

In [104]:
more_fruits

['dragon fruits',
 'guava',
 'pineapple',
 'cherry',
 'apple',
 'grapes',
 'bkackberry',
 'orange',
 'Mango']

In [105]:
more_fruits_copy.sort()

In [106]:
more_fruits_copy

['Mango',
 'Mango',
 'Mango',
 'Mango',
 'apple',
 'bkackberry',
 'bkackberry',
 'bkackberry',
 'bkackberry',
 'cherry',
 'grapes',
 'orange',
 'orange',
 'orange',
 'orange',
 'pineapple']

In [107]:
more_fruits.sort()
more_fruits

['Mango',
 'apple',
 'bkackberry',
 'cherry',
 'dragon fruits',
 'grapes',
 'guava',
 'orange',
 'pineapple']

In [110]:
more_fruits[0].lower()

'mango'

In [111]:
more_fruits

['Mango',
 'apple',
 'bkackberry',
 'cherry',
 'dragon fruits',
 'grapes',
 'guava',
 'orange',
 'pineapple']

In [112]:
more_fruits.pop(0)

'Mango'

In [113]:
more_fruits

['apple',
 'bkackberry',
 'cherry',
 'dragon fruits',
 'grapes',
 'guava',
 'orange',
 'pineapple']

In [114]:
more_fruits.insert(0, 'mango')

In [115]:
more_fruits

['mango',
 'apple',
 'bkackberry',
 'cherry',
 'dragon fruits',
 'grapes',
 'guava',
 'orange',
 'pineapple']

In [116]:
more_fruits.sort()

In [117]:
more_fruits

['apple',
 'bkackberry',
 'cherry',
 'dragon fruits',
 'grapes',
 'guava',
 'mango',
 'orange',
 'pineapple']

### Tuple

In [119]:
fruits = ('apple', 'grapes', 'oranges')

In [120]:
len(fruits)

3

In [121]:
fruits[0]

'apple'

In [122]:
## tuple has no functions like append and remove or insert 
# list are imutable

In [124]:
single_element_in_tuple = 7,

In [125]:
single_element_in_tuple

(7,)

In [126]:
tuple(fruits)

('apple', 'grapes', 'oranges')

In [127]:
list(fruits)

['apple', 'grapes', 'oranges']

In [129]:
tuple(fruits)

('apple', 'grapes', 'oranges')

In [131]:
fruits.count()

TypeError: count() takes exactly one argument (0 given)

In [135]:
a_tuple = 23, "hello", False, None, 33,44, 'hello'

In [136]:
a_tuple

(23, 'hello', False, None, 33, 44, 'hello')

In [137]:
a_tuple.count("hello")

2

In [138]:
?a_tuple.index(None)

Object `a_tuple.index(None)` not found.

### Dictionary

In [142]:
person1 = {
    'name' : 'Steve Smith',
    'age' : 33,
    'sex' : 'male',
    'married' : True,
    'child' : 3
}

In [143]:
person1

{'name': 'Steve Smith', 'age': 33, 'sex': 'male', 'married': True, 'child': 3}

In [146]:
person2 = dict(name = 'Krishna Rijal', age = 23, sex = 'male')

In [147]:
person2

{'name': 'Krishna Rijal', 'age': 23, 'sex': 'male'}

In [148]:
type(person1)

dict

In [150]:
person1['name']

'Steve Smith'

the 'get' method also accepts a default value which is returned if the key is not present in the dictionary

In [151]:
person2.get('name')

'Krishna Rijal'

In [153]:
person2.get("married", "nope")

'nope'

In [154]:
person2['married'] = False

In [155]:
person2

{'name': 'Krishna Rijal', 'age': 23, 'sex': 'male', 'married': False}

In [157]:
person2.pop('married')

False

In [158]:
person2

{'name': 'Krishna Rijal', 'age': 23, 'sex': 'male'}

In [159]:
person1.keys(0)

TypeError: keys() takes no arguments (1 given)

In [160]:
person1.keys()

dict_keys(['name', 'age', 'sex', 'married', 'child'])

In [161]:
person1.values()

dict_values(['Steve Smith', 33, 'male', True, 3])

In [162]:
person1.items()

dict_items([('name', 'Steve Smith'), ('age', 33), ('sex', 'male'), ('married', True), ('child', 3)])

In [165]:
list_person1 = list(person1)

In [167]:
list_person1

['name', 'age', 'sex', 'married', 'child']

In [170]:
lst = list(person1.items())

In [171]:
lst

[('name', 'Steve Smith'),
 ('age', 33),
 ('sex', 'male'),
 ('married', True),
 ('child', 3)]

In [172]:
lst[0]

('name', 'Steve Smith')

In [177]:
for item in lst:
    print(item)

('name', 'Steve Smith')
('age', 33)
('sex', 'male')
('married', True)
('child', 3)

In [180]:
dictionary = {
    'name' : 'Sandu Subedi',
    'age' : 21,
    'sex' : 'Female',
    'married' : False,
    'age' : 33
}

In [181]:
copy_person1 = person1.copy()

In [182]:
copy_person1

{'name': 'Steve Smith', 'age': 33, 'sex': 'male', 'married': True, 'child': 3}

In [183]:
person1.update(dictionary)

In [184]:
person1

{'name': 'Sandu Subedi',
 'age': 33,
 'sex': 'Female',
 'married': False,
 'child': 3}

In [185]:
person1

{'name': 'Sandu Subedi',
 'age': 33,
 'sex': 'Female',
 'married': False,
 'child': 3}

In [187]:
dictionary

{'name': 'Sandu Subedi', 'age': 33, 'sex': 'Female', 'married': False}

In [ ]:
jovian.commit()

[jovian] Attempting to save notebook..